
<div class="section group">
    <div class="column colHeader">
        <strong ng-bind="$ctrl.calculator.currentDisplay || 0"></strong>
    </div>
</div>
<div class="section group">
    <div ng-click="$ctrl.setMC()" class="column colInputFunction">MC</div>
    <div ng-click="$ctrl.getMR()" class="column colInputFunction">MR</div>
    <div ng-click="$ctrl.getSumM()" class="column colInputFunction">M+</div>
    <div ng-click="$ctrl.getRestM()" class="column colInputFunction">M-</div>
    <div ng-click="$ctrl.setMS()" class="column colInputFunction">MS</div>
</div>
<div class="section group">
    <div ng-click="$ctrl.getPercent()" class="column colInput">%</div>
    <div ng-click="$ctrl.getSqrt()" class="column colInput">√</div>
    <div ng-click="$ctrl.getPow('x²')" class="column colInput">x²</div>
    <div ng-click="$ctrl.getPow('1/x')" class="column colInput">1/x</div>
</div>
<div class="section group">
    <div ng-click="$ctrl.clearNumber()" class="column colInput">CE</div>
    <div ng-click="$ctrl.resetClicked()" class="column colInput">C</div>
    <div ng-click="$ctrl.clearNumber()" class="column colInput">⏪</div>
    <div ng-click="$ctrl.addOperation('÷')" class="column colInput"> ÷ </div>
</div>
<div class="section group" ng-repeat="item in $ctrl.onCalcStandar">
    <div ng-bind="item.column1" ng-click="item.column1 === '±' ? $ctrl.changeSign() : $ctrl.addNumber(item.column1)" class="column colInput"></div>
    <div ng-bind="item.column2" ng-click="$ctrl.addNumber(item.column2)" class="column colInput"></div>
    <div ng-bind="item.column3" ng-click="$ctrl.addNumber(item.column3)" class="column colInput"></div>
    <div ng-bind="item.column4" ng-click="item.column4 != '=' ? $ctrl.addOperation(item.column4): $ctrl.enterClicked()" class="column colInput"></div>
</div>


