.section{
    clear:both;
    padding:0;
    margin:0;
}
.column{
    background-color:#e7e3e3;
    height:20px;
    text-align:center;
    display:block;
    float:left;
    margin:1% 0 1% 1.6%;
    border-radius: 5px;
    outline: none;
}
.column:first-child{
    margin-left:0;
}
.column:hover{
    background-color:#a3a2a2;
    color: #fff;
}
.group:before,.group:after{
    content:"";
    display:table;
}
.group:after{
    clear:both;
}
.colHeader{
    width:100%;
    padding: 15px 0px;
    text-align: right;
    font-size: 34px;
}
.colInput{
    width:23.8%;
    padding: 15px 0px;
}
.colInputFunction {
    width: 18.7%;
    padding: 15px 0px;
}